.myIframe {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 40px;
    height: 0;
    width: 125%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /*<<--- THIS IS THE KEY*/ 
    /* border: solid black 1px; */
  }
  
  .myIframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 170%;
    height: 100%;
  }